<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Your Name's Bio</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles_1.css') }}">
</head>
<body>
  <header>
    <div class="profile2-img"> 
        <img src="{{ url_for('static', filename='images/image2-new.jpg') }}" alt="Aariz" class="profile2-img">   
    </div>
      <img src="{{ url_for('static', filename='images/image.jpg') }}" alt="Aariz" class="profile-img">
      <h1>Aariz Murtaza Kamal</h1>
      <p>Devops Engineer, Infrastructure Engineer</p>
      <p>Follow me on social media:</p>
      <p>
          <a href="https://github.com/aarizmurtazakamal"
          target="_blank">Github</a> |
          <a href="https://www.linkedin.com/in/aariz-m-kamal"
          target="_blank">LinkedIn</a> |
          <a href="https://drive.google.com/drive/folders/1Sm4bjY2LAaswyuenpkjcI9RmAy4G9goH?usp=sharing"
          target="_blank">Resume-latest-download</a>
      </p>
  </header>
  <main>
      <section class="bio">
          <h2>About Me</h2>
          <p> 
            🚀 Experienced Systems Engineer with a Passion for Linux and Middleware 🚀</p>

<p>Greetings! 👋 </p>
<p>I'm Aariz Murtaza Kamal a dedicated Systems Engineer with four years of hands-on experience in designing, implementing, and maintaining robust IT infrastructures. My expertise lies in the dynamic intersection of Linux systems and Middleware technologies.</p>

<p>🔧 Technical Proficiency: </p>

Operating Systems: Proficient in configuring, securing, and optimizing Linux-based systems for peak performance.
Middleware: Adept at deploying and managing Middleware solutions to ensure seamless integration and communication between diverse software applications.
<p>💡 Highlights:</p>

<p>System Architecture: Designed and implemented scalable and resilient system architectures, ensuring high availability and reliability for mission-critical applications.
Middleware Integration: Successfully integrated Middleware solutions to streamline data flow and enhance communication between applications, resulting in improved efficiency and reduced latency.
Automation Champion: Leveraged scripting and automation tools to increase operational efficiency, reduce manual intervention, and accelerate deployment processes.</p>
<p>🚀 Achievements:</p>

<p>Engineered and implemented a Linux-based infrastructure that significantly improved system performance, resulting in a 20% reduction in downtime.
<p>Led the successful migration of a critical Middleware platform, minimizing service disruptions and enhancing overall system stability.</p>
<p>🛠️ Technical Skillset:</p>

<p>Operating Systems: Linux (Ubuntu, CentOS)</p>
<p>Middleware: Apache, JBoss, tomcat, websphere.</p>
<p>Automation Tools: Ansible, </p>
<p>Scripting Languages: Bash, Python</p>
<p>Monitoring Tools: Dynatrace, Zabbix</p>

<p>🌐 Certifications:</p>

<p>Redhat Delivery Specialist - RHEL </p>
<p>Redhat Delivery Specialist - Automation {Ansible}</p>

<p>🤝 Let's Connect!</p>
<p>I'm always eager to connect with fellow professionals, collaborate on exciting projects, and share insights into the ever-evolving world of system engineering. Feel free to reach out for networking, discussions, or potential opportunities.
</p>

<p>Looking forward to connecting with like-minded professionals and exploring new possibilities together!.</p>
          </p>
          <!-- Add more paragraphs as needed -->
      </section>
      <section class="projects">
          <h2>Projects</h2>
          <ul>
              <li><a href="https://github.com/aarizmurtazakamal/JenkinsDemo.git">Project One</a></li>
              <li><a href="#">Project Two</a></li>
              <li><a href="#">Project Three</a></li>
              <!-- Add more list items as needed -->
          </ul>
      </section>
  </main>
  <footer>
      <p>Contact me at <a href="mailto:mail.aariz@gmail.com">mail.aariz@gmail.com</a></p>
  </footer>
</body>
</html>
